
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu li a:hover {
    background-color: #333;
}


.carrito-icon {
    width: 20px;
    height: 20px;
}


.hero {
    background-image: url("C:\Users\bevil\WebstormProjects\olimpiadas\public\image\imagpri.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.btn-productos {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-productos:hover {
    background-color: #4CAF50;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-social {
    margin-top: 10px;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

.footer-social a {
    display: inline-block;
    vertical-align: middle;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
