
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

/* carrito.css */
.carrito-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.producto {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.producto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto .nombre {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.producto .descripcion {
    font-size: 1em;
    margin-bottom: 10px;
}

.producto .precio {
    font-size: 1.2em;
    color: #28a745;
    margin-bottom: 10px;
}

.total {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}

#checkout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#checkout-form label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#checkout-form input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

#checkout-form button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#checkout-form button:hover {
    background-color: #0056b3;
}

.navbar {
    background-color: #e0e0e0; 
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #03e6ff;
}


.carrito {
    background-image: url('carritocompras.webp'); 
    background-size: cover;
    background-position: center;
    padding: 50px 20px;
    text-align: center;
    min-height: 70vh;
}

.carrito h1 {
    color: #3b6a72;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.carrito-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #e0e0e0;
    color: #3b6a72;
    padding: 20px;
    text-align: center;
}

.footer-social p {
    margin: 10px 0;
}

.footer-social a {
    color: #3b6a72;
    margin: 0 10px;
    text-decoration: none;
}

.footer-social a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    .carrito-container {
        width: 90%;
    }
}
